apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: allinoneocean/allinone
          env:
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: databasehost
                  key: DATABASE_HOST
            - name: USer
      imagePullSecrets:
        - name: dockerreg
---
apiVersion: v1
kind: Service
metadata:
  name: backend-srv
spec:
  selector:
    app: backend
  ports:
    - name: backend
      protocol: TCP
      port: 3001
      targetPort: 3001
