name: deploy-web-expo

on:
  push:
    branches:
      - main
    paths:
      - "aio-front/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - run: cd aio-back && docker build -t allinoneocean/web-expo .
      - run: docker push allinoneocean/web-expo
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - run: doctl kubernetes cluster kubeconfig save aio-k8s
      - run: kubectl rollout restart deployment web-expo-depl
