name: Lint Check - Front End

on:
  pull_request:
    paths:
      - "aio-front/**"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out source code
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: |
          cd aio-front
          npm ci

      - name: Run Lint
        run: |
          cd aio-front
          npm run lint
